<h1>Home Page</h1>

<!-- first repo -->
<p><%= @repos[0][0].title %></p>
<p><%= @repos[0][0].closed_issues %></p>
<p><%= @repos[0][0].open_issues %></p>

<p><%= @repos[0][1].title %></p>
<p><%= @repos[0][1].closed_issues %></p>
<p><%= @repos[0][1].open_issues %></p>

<p><%= @repos[0][2].title %></p>
<p><%= @repos[0][2].closed_issues %></p>
<p><%= @repos[0][2].open_issues %></p>

<!-- second repo -->
<p><%= @repos[1][0].title %></p>
<p><%= @repos[1][0].closed_issues %></p>
<p><%= @repos[1][0].open_issues %></p>

<p><%= @repos[1][1].title %></p>
<p><%= @repos[1][1].closed_issues %></p>
<p><%= @repos[1][1].open_issues %></p>

<p><%= @repos[1][2].title %></p>
<p><%= @repos[1][2].closed_issues %></p>
<p><%= @repos[1][2].open_issues %></p>

<!-- third repo -->
<p><%= @repos[2][0].title %></p>
<p><%= @repos[2][0].closed_issues %></p>
<p><%= @repos[2][0].open_issues %></p>

<p><%= @repos[2][1].title %></p>
<p><%= @repos[2][1].closed_issues %></p>
<p><%= @repos[2][1].open_issues %></p>

<p><%= @repos[2][2].title %></p>
<p><%= @repos[2][2].closed_issues %></p>
<p><%= @repos[2][2].open_issues %></p>

<!-- fourth repo -->
<p><%= @repos[3][0].title %></p>
<p><%= @repos[3][0].closed_issues %></p>
<p><%= @repos[3][0].open_issues %></p>

<p><%= @repos[3][1].title %></p>
<p><%= @repos[3][1].closed_issues %></p>
<p><%= @repos[3][1].open_issues %></p>

<p><%= @repos[3][2].title %></p>
<p><%= @repos[3][2].closed_issues %></p>
<p><%= @repos[3][2].open_issues %></p>


<!-- <% @repos.each do |repo| %>
  <% repo.each do |milestone| %>
      <%= milestone.title %>
  <% end %>
<% end %> -->





