<!-- first repo -->
<p><%= @repos[0][0].try(:title) %></p>
<p><%= @repos[0][0].try(:closed_issues) %></p>
<p><%= @repos[0][0].try(:open_issues) %></p>

<p><%= @repos[0][1].try(:title) %></p>
<p><%= @repos[0][1].try(:closed_issues) %></p>
<p><%= @repos[0][1].try(:open_issues) %></p>

<p><%= @repos[0][2].try(:title) %></p>
<p><%= @repos[0][2].try(:closed_issues) %></p>
<p><%= @repos[0][2].try(:open_issues) %></p>

<!-- second repo -->
<p><%= @repos[1][0].try(:title) %></p>
<p><%= @repos[1][0].try(:closed_issues) %></p>
<p><%= @repos[1][0].try(:open_issues) %></p>

<p><%= @repos[1][1].try(:title) %></p>
<p><%= @repos[1][1].try(:closed_issues) %></p>
<p><%= @repos[1][1].try(:open_issues) %></p>

<p><%= @repos[1][2].try(:title) %></p>
<p><%= @repos[1][2].try(:closed_issues) %></p>
<p><%= @repos[1][2].try(:open_issues) %></p>

<!-- third repo -->
<p><%= @repos[2][0].try(:title) %></p>
<p><%= @repos[2][0].try(:closed_issues) %></p>
<p><%= @repos[2][0].try(:open_issues) %></p>

<p><%= @repos[2][1].try(:title) %></p>
<p><%= @repos[2][1].try(:closed_issues) %></p>
<p><%= @repos[2][1].try(:open_issues) %></p>

<p><%= @repos[2][2].try(:title) %></p>
<p><%= @repos[2][2].try(:closed_issues) %></p>
<p><%= @repos[2][2].try(:open_issues) %></p>

<!-- fourth repo -->
<p><%= @repos[3][0].try(:title) %></p>
<p><%= @repos[3][0].try(:closed_issues) %></p>
<p><%= @repos[3][0].try(:open_issues) %></p>

<p><%= @repos[3][1].try(:title) %></p>
<p><%= @repos[3][1].try(:closed_issues) %></p>
<p><%= @repos[3][1].try(:open_issues) %></p>

<p><%= @repos[3][2].try(:title) %></p>
<p><%= @repos[3][2].try(:closed_issues) %></p>
<p><%= @repos[3][2].try(:open_issues) %></p>

<audio src="audio/save_and_checkout.mp3"> </audio>